<div class="pageWrapper">
  <div class="header">
    <div class="header__logo">
      <img src="./assets/images/Logo.svg" alt="" />
    </div>
    <div class="header__items">
      <a href="#home" class="link">Home</a>
      <a href="#portfolio" class="link">Portfolio</a>
      <a href="#skills" class="link">Skills</a>
      <a href="#about" class="link">About Me</a>
    </div>
    <div class="header__button">
      <div class="btn">button</div>
    </div>
  </div>

  <div class="heroSection">
    <div class="heroSection__title">
      <div class="title">
        PRODUCT<br />DESIGNER<br /><span class="moghavi">MOGHAVI</span>
      </div>
      <div class="socials">
        <img src="./assets/images/Instagram.svg" alt="" />
        <img src="./assets/images/Figma.svg" alt="" />
        <img src="./assets/images/LinkedIn.svg" alt="" />
        <img src="./assets/images/Twitter.svg" alt="" />
        <img src="./assets/images/Telegram.svg" alt="" />
        <img src="./assets/images/Medium.svg" alt="" />
      </div>
      <div class="download">
        Download Curriculum Vitae
        <img src="./assets/images/arrow-down.svg" alt="" />
      </div>
    </div>
    <div class="heroSection__star">
      <img src="./assets/images/Portal.svg" alt="" />
    </div>
    <div class="heroSection__image">
      <img src="./assets/images/colorful-vintage-collage-design 1.svg" alt="" />
    </div>
  </div>

  <div class="counts">
    <div class="counts__item">
      <div class="percent">90%</div>
      <div class="desc">
        Job Success <br />
        Score on Upwork
      </div>
    </div>
    <div class="counts__item seperator">
      <img src="./assets/images/images/Dawn.svg" alt="" />
    </div>
    <div class="counts__item">
      <div class="percent">>25.000</div>
      <div class="desc">
        Duplicates on Figma <br />
        Community
      </div>
    </div>
    <div class="counts__item seperator">
      <img src="./assets/images/images/Dawn.svg" alt="" />
    </div>
    <div class="counts__item">
      <div class="percent">>2K</div>
      <div class="desc">In Finished<br />Works</div>
    </div>
  </div>

  <div class="portofolio" #portfolio>
    <div class="portofolio__title">PORTFOLIO</div>
    <div class="portofolio__items">
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
      <div class="portofolio__item">
        <div class="portofolio__item--image">
          <img src="./assets/images/Frame 7.png" alt="" />
        </div>
        <div class="portofolio__item--title">Mi portal U</div>
        <div class="portofolio__item--tags">
          <div class="tag">UX Design</div>
          <div class="tag">University</div>
          <div class="tag">JavaScript</div>
        </div>
        <div class="portofolio__item--button">Figma community</div>
      </div>
    </div>
  </div>

  <div class="skills">
    <div class="skills__title">SKILLS</div>
    <div class="skills__items">
      <div class="skills__item">
        <div class="image"><img src="./assets/images/Graph.svg" alt="" /></div>
        <div class="details">
          <div class="title">UX Design</div>
          <div class="desc">
            UI design is the process of designing the visual and interactive
            elements of a user interface, such as buttons, icons, and layout, to
            create an intuitive and pleasing experience for users.
          </div>
        </div>
      </div>
      <div class="skills__item">
        <div class="image"><img src="./assets/images/Graph.svg" alt="" /></div>
        <div class="details">
          <div class="title">UX Design</div>
          <div class="desc">
            UI design is the process of designing the visual and interactive
            elements of a user interface, such as buttons, icons, and layout, to
            create an intuitive and pleasing experience for users.
          </div>
        </div>
      </div>
      <div class="skills__item">
        <div class="image"><img src="./assets/images/Graph.svg" alt="" /></div>
        <div class="details">
          <div class="title">UX Design</div>
          <div class="desc">
            UI design is the process of designing the visual and interactive
            elements of a user interface, such as buttons, icons, and layout, to
            create an intuitive and pleasing experience for users.
          </div>
        </div>
      </div>
      <div class="skills__item">
        <div class="image"><img src="./assets/images/Graph.svg" alt="" /></div>
        <div class="details">
          <div class="title">UX Design</div>
          <div class="desc">
            UI design is the process of designing the visual and interactive
            elements of a user interface, such as buttons, icons, and layout, to
            create an intuitive and pleasing experience for users.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slogan">
    <div class="context">
      <div class="title">Kaleb Lechtenberg</div>
      <div class="desc">
        "Working with this freelancer has been great. His attention to detail is
        unparalleled and finished all work ahead of schedule. Will gladly send
        more work and I do not hesitate to recommend him to you on your project
        also."
      </div>
      <img src="./assets/images/Shield 1.svg" alt="" />
    </div>
  </div>

  <div class="footerSection">
    <div class="footerSection__content">
      <img
        class="top-right footerSection__content--images"
        src="./assets/images/Frame 35.svg"
        alt=""
      />
      <img
        class="bottom-left footerSection__content--images"
        src="./assets/images/Frame 36.svg"
        alt=""
      />
      <div class="text">
        Thanks for visit my website <br />
        If you have any questions you can write me to any of my social networks,
        I am sure I will answer you.
      </div>
    </div>
    <div class="footerSection__links"></div>
  </div>
</div>
